.LikeAddOnCom {
  @media (min-width: 992px) {
    margin-right: 20px;
  }
}
.noActiveHotelHeart {
  .st0 {
    fill: #8a8a8a;
  }
}
.HotelHeart {
  .st0 {
    fill: #ea8a8a;
  }
}
.HotelCalendarAdd {
  .st0 {
    fill: #aeaeae;
  }
}
.noActiveHotelCalendarAdd {
  .st0 {
    fill: #8a8a8a;
  }
}
.ComputerLikeAdd_canTouch {
  cursor: pointer;
}
