/* IconBar */
.IconBar {
	font-size: 22px;
	margin: 20px 0px;
	align-items: center;
	.Hotel_Icon {
		align-items: center;
		color: #63d2ff;
		margin: 0 10px;
	}
	h5 {
		margin-bottom: 0px;
		color: #8a8a8a;
	}
	.MdKingBed {
		margin-left: 30px;
		font-size: 32px;
	}
}
