.CityChoose {
  .City_button {
    margin: 20px 0px;
    button {
      color: #4d4d4d;
      background-color: transparent;
      outline: none;
      border: none;
      padding: 6px 24px; 
      text-align: center;
    }
    .cityChooseActive {
      border: none;
      background-color: #ffffff00;
      color: #59d8a1;
      
    }
  }
}
