/* HotelDetail */
.hotel_detail {
  ul {
    list-style-type: none;
    padding-left: 0px;
    li {
      margin: 30px 0px;
      font-weight: 300 !important;
      font-size: 1.1rem !important;
      line-height: 1.8rem !important;
      color: #4d4d4d;
      .hotel_detail_BsFillDiamondFill {
        margin: 0px 8px;
        font-size: 16px;
      }
    }
  }
}
