.mySwiper {
  width: 100%;
  height: 650px;
  overflow: hidden;

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    &:after {
      color: #e9e9e9;
      content: 'prev';
    }
    left: -2px;
    right: auto;
    top: 50%;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    &:after {
      color: #e9e9e9;
      content: 'next';
    }
    right: -2px;
    left: auto;
    top: 50%;
  }
  .swiper-slide {
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    //  background-position 依照你的照片內容調整
    .swiperSlide_pic {
      object-fit: cover;
      width: 100%;
      height: 100%;
      // background-image: url('http://192.168.0.74:3001/uploads/hotel/1-1.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .Food_Img1{
      object-fit: cover;
      width: 100%;
      height: 100%;
      background-image: url('http://localhost:3001/uploads/F116-1.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
     }
    .Food_Img2{
      object-fit: cover;
      width: 100%;
      height: 100%;
      background-image: url('http://localhost:3001/uploads/F116-2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
     }
    .Food_Img3{
      object-fit: cover;
      width: 100%;
      height: 100%;
      background-image: url('http://localhost:3001/uploads/F116-3.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
     }
    .Food_Img4{
      object-fit: cover;
      width: 100%;
      height: 100%;
      background-image: url('http://localhost:3001/uploads/F116-4.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom 40% center;
     }
    .Food_Img5{
      object-fit:cover;
      width: 100%;
      height: 100%;
      background-image: url('http://localhost:3001/uploads/F116-5.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position:  bottom 22%  center;
     }
  }
}
