.bannerSlider {
    width: 100%;
    // max-height: 650px;
    overflow: hidden;
  // .SwiperSlide{
  //   width: 100%;
  //   max-height: 650px;
  // }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    &:after {
      color:#e9e9e9;
      content: 'prev';
    }
    left: -2px;
    right: auto;
    top:50%;
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    &:after {
      color:#e9e9e9;
      content: 'next';
    }
    right: -2px;
    left: auto;
    top:50%;
  }
    .swiper-slide {
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;   
        //  background-position 依照你的照片內容調整
        .homeFoodCardImg1{
          object-fit: cover;  
          // width: 100%;
          // height: 100%;
          background-image: url('http://localhost:3001/uploads/F068-1.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
         }
        .homeStayCardImg1{
          object-fit: cover;  
          // width: 100%;
          // height: 100%;
          background-image: url('http://localhost:3001/uploads/A021.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
         }
        .homeTicketCardImg1{
          object-fit: cover;  
          // width: 100%;
          // height: 100%;
          background-image: url('http://localhost:3001/uploads/43-1.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
         }
        .homeFoodCardImg2{
          object-fit: cover;  
          // width: 100%;
          // height: 100%;
          background-image: url('http://localhost:3001/uploads/F046-1.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
         }
        .homeStayCardImg2{
          object-fit:cover;  
          // width: 100%;
          // height: 100%;
          background-image: url('http://localhost:3001/uploads/A018.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          // background-position:  bottom 20% center;
         }
         .homeTicketCardImg2{
          object-fit:cover;  
          // width: 100%;
          // height: 100%;
          background-image: url('http://localhost:3001/uploads/25-1.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          // background-position:  bottom 20% center;
         }
         
      } 
  }
 
  



.bannerHot{
    width: 100%;
    height: 407px;
    // align-items: center;
    
   
}
.swiper{
    position: relative;
    border: none;
    .Card .card{
        margin:10px;
        padding:0;
        height: 400px;
        border: none;
        box-shadow: 0 0 18px 0 rgba(0,0,0,0.1);
     }
    .Card_Title{
        font-size: 21px;
        color:#4D4D4D;   
    }
    .Heart_Btn{
        width: 40px;
        height: 40px;
        border: none;
        background-color:rgba(255, 255, 255, 0.004);
        position: absolute;
        top: 0;
        right:0;
    }
    .Card_Heart{
        width: 100%;
        height: 100%;
        background-color: none; 
    }
    .card-img-top{
        width: 100%;
        height: 250px;
        border: 0;
        border-bottom: 0;
        box-shadow: 0 0 18px 0 rgba(0,0,0,0.1);
    }
    .Map_icon{
        width: 30px;
        height: 30px;
    }
    .Card_Text{
        margin-top: 10px;
        align-content: flex-end;
        .Card_Score{
            margin-left: 10px;
            padding-top: 20px;
            text-align: center;
            font-size: 14px;
        }
    }
    .Card_Price{
        text-align: end;
        color: #59D8A1;
        margin: 0;
    }
    .foodCardData1Img{
        object-fit: cover;  
        width: 100%;
        height: 100%;
        background-image: url('http://localhost:3001/uploads/F117-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .foodCardData2Img{
        object-fit: hidden;  
        width: 100%;
        height: 100%;
        border: none;
        background-image: url('http://localhost:3001/uploads/F125-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .foodCardData3Img{
        object-fit: cover;  
        width: 100%;
        height: 100%;
        background-image: url('http://localhost:3001/uploads/F119-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .foodCardData4Img{
        object-fit: cover;  
        width: 100%;
        height: 100%;
        background-image: url('http://localhost:3001/uploads/F120-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    
     
    }
    .foodCardData5Img{
        object-fit: cover;  
        width: 100%;
        height: 100%;
        background-image: url('http://localhost:3001/uploads/F129-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .foodCardData6Img{
    
        object-fit: cover;  
        width: 100%;
        height: 100%;
        background-image: url('http://localhost:3001/uploads/F128-1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }



}



