#iTitle{
    z-index: 0;
    height: 46px;
    margin: 100px auto 0;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    #iTitleText{
        width: 450px;
        display: flex;
        justify-content: space-between;
        h2{
            line-height: 3rem;
        }
    }
    #iTitleBtns{
        width: 273px;
        display: flex;
        justify-content: space-between;
        button{
            height: 46px;
            width: 132px;
        }
    }
}
#iContainer {
    z-index: 0;
    width: 1200px;
    height: 600px;
    display: flex;
    margin: 20px auto ;
    justify-content:center;
    border: 1px solid #D9D9D9;
    #iList {
        position: relative;
        width: 480px;
        height: 600px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 0px;
      }
    #iDay{
        position: sticky;
        top:0;
        width: 100%;
        color: #fff;
        background-color: #59D8A1;
        margin: 0;
        height: 50px;
        line-height: 50px;
        display: flex;
        justify-content: space-between;
        h2{
            line-height: 50px;
            padding-left: 40px;
        }
        h3{
            font-size: 14px;
            line-height: 50px;
            padding-right: 40px;
        }
    }
    .day1{
        background-color: #59D8A1;
    }    
    .day2{
        background-color: #63D2FF;
    }    
    .day2{
        background-color: #2081C3;
    }    
    #iItem{
        width: 440px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #D9D9D9;
        margin: 20px 20px 0 20px;
        padding-bottom: 20px;
        .iItem-img{
            width: 100px;
            height: 70px;
        }
        .iItemText{
            padding-left: 10px;
            display: inline-block;
            flex-grow: 1;
            h2{
                margin-bottom: 0;
            }
            p{
                margin-bottom: 0;
                color: #AEAEAE;
            }


        }
        .svg{
            height: 40px;
            width: 40px;
        }
    }
    .leaflet-container {
        width: 720px;
        height: 600px;
        z-index: 0;
      }
}


