#iTitle{
    z-index: 0;
    height: 46px;
    margin: 100px auto 0;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    #iTitleText{
        // width: 450px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h1, h2, p{
            margin: 0;
            word-wrap: normal;
            // line-height: 3rem;
        }
        h2 {
            color: #59d8a1;
            margin-left: 10px;
        }
    }
    #iTitleBtns{
        width: 132px;
        display: flex;
        justify-content: space-between;
        button{
            height: 46px;
            width: 132px;
        }
    }
}
#iContainer {
    z-index: 0;
    width: 1200px;
    height: 600px;
    display: flex;
    // flex-direction: column;
    margin: 20px auto ;
    justify-content:center;
    border: 1px solid #D9D9D9;
    #iList {
        position: relative;
        width: 480px;
        height: 600px;
        overflow-y: scroll;
        overflow-x: hidden;
        // display: flex;
    }
    ::-webkit-scrollbar {
        width: 0px;
      }
    .day{
        width: 100%;
        margin: 0;
        height: 50px;
        line-height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2{
            line-height: 50px;
            padding-left: 40px;
            margin: 0;
            color: #fff;

        }
        h3{
            font-size: 14px;
            line-height: 50px;
            padding-right: 40px;
            margin: 0;
            color: #fff;

        }
    }
    .day1{
        background-color: #59D8A1;
    }    
    .day2{
        background-color: #63D2FF;
    }    
    .day3{
        background-color: #2081C3;
    }    
    .iItem{
        width: 440px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #D9D9D9;
        background-color: #fff;
        margin: 20px 20px 0 20px;
        padding-bottom: 20px;
        .iItem-img{
            width: 100px;
            height: 70px;
        }
        .iItemText{
            padding-left: 10px;
            display: inline-block;
            flex-grow: 1;
            h2{
                margin-bottom: 0;
            }
            p{
                margin-bottom: 0;
                color: #AEAEAE;
            }


        }
        .icon{
            height: 40px;
            width: 40px;
            img{
                width: 40px;
                height: 30px;
                margin: 0;
                display: block;
                margin: 5px auto;
            }
        }
    }
    .leaflet-container {
        width: 720px;
        height: 600px;
        z-index: 0;
      }
}
.red{
    color: red;
}
.stickyt1{
    position: sticky;
    top:0
}
.stickyt2{
    position: sticky;
    top:50px
}
.stickyt3{
    position: sticky;
    // top:100px
    bottom: 0;
}
.iflex{
    display: flex;
    flex-direction: row;
}
.daySelector{
    // display: none
}

#iRecItems{
    width: 1200px;
    height: 600px;
    margin: 80px auto 20px;
    justify-content:center;
}
.spaceItineraryDetail{
    height: 120px;
}