.marginTop {
	// margin-top: 130px;

	.ticket-Breadcrumb {
		margin-bottom: 20px;
		// border: 1px solid black;
	}
	.ticket-CitySelection {
		margin-bottom: 43px;
		
	}
	.ticket-Sidebar {
		margin-bottom: 44px;
	}
	.ticket-DatePicker {
		margin-bottom: 20px;
		height: 66px;
	}
	.ticket-Slider {
		margin-bottom: 20px;
		height: 156px;
		// border: 1px solid black;
	}
	.ticket-RankChoose {
		margin-bottom: 126px;
	}
}

.ticket_card_list {
	// border: 1px solid rgb(94, 94, 94);
}



.shadow {
	box-shadow: 0 0 18px 0 rgba(0,0,0,0.1);
	// border: 1px solid black
}


// *{
// 	border: 1px solid red;
// }

