.Hotel_part0_left {
    margin-right: auto;
  }
  .MobileHidden {
    @media (max-width: 992px) {
      display: none;
    }
  }
  .ComputerHidden {
    @media (min-width: 992px) {
      display: none;
    }
  }
  .Hotel_part0_right {
    justify-content: flex-end;
    .Hotel_part0_right_icon {
      margin: 0px 0px 20px;
    }
  }
  .Hotel_partHidden {
    height: 120px;
    // background-color: rgba(255, 0, 0, 0.674);
    @media (max-width: 992px) {
      height: 110px;
    }
  }
  div {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  .noPadding{
    padding-top: 0px;
  }