.Comment-height{
    height: 100%;
    
}
.CommentDetail{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    //TODO如何讓h1靠齊左側
    h1{
        padding-right: 55vh;
        padding-bottom: 50px;
    }
}