.Comment-height{
    height: 100%;
    
}
.CommentDetail{
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    h1{
        padding-left: 10px;
        padding-bottom: 10px;
    }
}