.m-flex{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 55vw;
    .logo img{
        width: 17vw;
    }
    .form{
        display: flex;
        height: 700px;
        background-color: #fff;
        padding: 0 50px;
        flex-direction:column;
        justify-content:center;
        .forget-password-text{
            color: #59D8A1;
            float: right;
            padding-top: 10px;
        }
        
        .login-button{
            margin: 10px auto;
        }
        .nosigning-text{
            font-size: 1.1rem;
        }
        
        .signin-text{
            color: #59D8A1;
            margin-left: 5px;
        }
        .password-group{
            position: relative;
            .login-eye-btn{
                position:absolute;
                top: 0;
                right: 0;
                border: none;
                background: none;
                padding-right: 40px;
            }
            .login-eye-btn img{
                width: 32px;
            }
        }
        .errorMsg{
            color: #EA8A8A;
            font-weight: 400!important;
        }
    }
}

.form-bg{
    background-image: url('../../../img/member/BG_member.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -10;
}


