body{
    overflow:hidden;
}
.m-flex{
    display: flex;
    justify-content: center; 
    align-items: center;
    .logo img{
        width: 200px;
        height: 50px;
    }
    .form{
        height: 500px;
        background-color: #fff;
        padding: 50px;
        .forget-password{
            color: #59D8A1;
            float: right;
        }
        .login-button{
            margin: 40px auto;
            
        }
    }
}

.form-bg{
    background-image: url('../../../img/member/BG_member.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -10;
}


