/* Comment */
.Comment_Top {
  display: flex;
  .Comment_top_span {
    font-size: 40px;
    color: #59d8a1;
    margin-right: 50px;
  }
  .RateAndNumber {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    p {
      color: #8a8a8a;
    }
  }
  .Comment_Bottom {
    padding: 30px 0px;
    height:auto;
    border-top: 1px solid #ccc;
    .Comment_Card {
      margin-bottom: 30px;
     
      .Comment_userPic {
        border-radius: 50%;
        background-color: #ccc;
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;
        margin: auto 30px auto 0px;
      }
      .Comment_userName {
        margin-right: auto;
        h2 {
          margin-bottom: -8px;
          color: #8a8a8a;
        }
      }
    }
  }
  .Comment_text {
    font-size: 14px;
    line-height: 28px;
    color: #4d4d4d;
  }
}

/* CommentSelector */
.CommentSelector {
  display: flex;
  justify-content: flex-end;
  position: relative;
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 0;
  }
  .CommentSelector_Select {
    color: #4d4d4d;
  }
  /* margin-right: -16px; */
  .CommentSelector_svg {
    cursor: pointer;
    position: absolute;
    // z-index: -1;
    width: 30px;
    height: 30px;
  }
}
.CommentSelector_Select {
  .ant-select-item-option-content {
    color: #4d4d4d;
  }

  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: #59d8a13b;
  }
}
.CommentSelector_Select:focus-visible {
  outline: 0;
}
.ant-select-focused {
  outline: 0;
  border: 0;
  box-shadow: none;
  color: white;
}
