// 首頁封面圖片
.home_bg{
    background-image: url('../../img/ticket_home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    width: 1440px;
    // background-attachment: fixed;
    position: absolute;
    top:0;
    left: 0;
    z-index: -10;
    // border: 2px solid rgb(253, 35, 235);
}


// timetravel文字
.home_bg_text_wrap {
    height: 900px;
    width: 1440px;
    // border: 2px solid rgb(253, 35, 235);
    position: absolute;
    top:0;
    left: 0;
    z-index: -10;
    // display: flex;
    .home_bg_text_time {
        
        font-size: 150px;
        color: #ffffff;
        // margin-left: 321px;
        // margin-top: 241px;
        // border: 1px solid black;
        position: relative;
        top: 241px;
        left: 321px;
        
    }
    .home_bg_text_travel {
        font-size: 160px;
        color: #ffffff;
        position: relative;
        left: 610px;
        top: 113px;
        
        // border: 1px solid black;
        
    }
    // .home_bg_text_travel_opacity {
    //     font-size: 150px;
    //     color: #dc2828;
    //     position: relative;
    //     margin-left: 615px;
    //     margin-top: -200px;
    //     border: 1px solid black;
        
    // }
}

// 首頁start
.home-part1{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 900px;
    // border: 1px solid rgb(60, 56, 255);
}

.tags_icons{
    border: 1px solid rgb(60, 56, 255);
    width: 336px;
    height: 36px;

    
}
// .tag_icon_food {
//     background-image: url("../../icon/food.svg");
//     // border: 1px solid rgb(60, 56, 255);
//     width: 40px;
//     height: 40px;
// }
// .tag_icon_site {
//     background-image: url("../../icon/stay_white.svg");
//     // border: 1px solid rgb(60, 56, 255);
//     width: 40px;
//     height: 40px;
// }
// .tag_icon_stay {
//     // background-image: url("../../icon/stay_");
//     // border: 1px solid rgb(60, 56, 255);
//     width: 40px;
//     height: 40px;
// }



// 最新優惠
.home-part2{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 33px;
    // border: 1px solid rgb(60, 56, 255);
    margin-top: 80px;
    margin-bottom: 40px;
}
// 熱門商品
.home-part3{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 33px;
    // border: 1px solid rgb(60, 56, 255);
    margin-top: 100px;
    margin-bottom: 60px;
}
// 特色主題圈圈
.home-part4{
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    align-items: center;
    height: 243px;
    // border: 1px solid rgb(60, 56, 255);
    flex-direction: row;
    justify-content: space-between;
    .feature-card {
        width: 202px;
        height: 243px;
        text-align: center;
        // border: 0.5px solid black;
        .feature-circle {
            border-radius: 50%;
            // border: 1px solid black;
            margin-bottom: 14px;
            width: 202px;
            height: 202px;
        }
        .fc-bg1 {
            background-image: url('../../img/itinerary_home.jpg');
            background-position: center;
            background-size: cover;
            height: 202px;
            width: 202px;
        }
        .fc-bg2 {
            background-image: url('../../img/stay_home.jpg');
            background-position: center;
            background-size: cover;
            height: 202px;
            width: 202px;
        }
        .fc-bg3 {
            background-image: url('../../img/itinerary_home.jpg');
            background-position: center;
            background-size: cover;
            height: 202px;
            width: 202px;
        }
        .fc-bg4 {
            background-image: url('../../img/ticket_home.jpg');
            background-position: 40% 50%;
            background-size: cover;
            height: 202px;
            width: 202px;
        }
        .fc-bg5 {
            background-image: url('../../img/itinerary_home.jpg');
            background-position: center;
            background-size: cover;
            height: 202px;
            width: 202px;
        }
    }
}

// why us
.home-part5{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 400px;
    // border: 1px solid rgb(60, 56, 255);
    
    .home-why-us{
        justify-content: center; 
       
        
        .why-us-tittle {
            text-align: center;
            color: #ffffff;
            margin-bottom: 30px;
            // border: 1px solid red;
        }
        .why-us-p{
            text-align: center;
            color: #ffffff;
            margin-bottom: 20px;
            
            // border: 1px solid red;
        }
        
    
    }
}



.home-why-us-bg{
    background-image: url('../../img/itinerary_home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 1440px;
    position: absolute;
    z-index: -10;
    // border: 2px solid rgb(253, 35, 235);
}

.home-why-us-bg-opacity {
    background-color: #424242;
    height: 400px;
    width: 1440px;
    opacity: 40%;
}








