// 首頁背圖

.home_bg_absolute {
    // background-image: url('../../img/ticket_home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    width: 100%;
    // border: 5px solid rgb(255, 0, 0);
    position: absolute;
    z-index: -10;
}

.home_bg_ticket{
    background-image: url('../../img/ticket_home.jpg');
}
.home_bg_stay{
    background-image: url('../../img/stay_home.jpg');
}
.home_bg_food{
    background-image: url('../../img/food-banner.jpg');
}
.home_bg_itinerary{
    background-image: url('../../img/itinerary_home.jpg');
}
// timetravel文字區
.home_bg_text_wrap {
    height: 900px;
    width: 1440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    // border: 2px solid rgb(49, 248, 255);
    // z-index: -5;
    .home_bg_text_time {
        font-size: 150px;
        color: #ffffff;
        position: absolute;
        top: 244px;
        left: 345px;
        // border: 1px solid black;
    }
    .home_bg_text_travel {
        font-size: 160px;
        color: transparent;
        position: absolute;
        top: 352px;
        left: 620px;
        -webkit-text-stroke: 3px #ffffff;
        // border: 1px solid black;
    }
   
}



// 首頁start


.home-part1{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 900px;
    // border: 1px solid rgb(255, 132, 56);
    // z-index: -10;
    
}

// icon tags
.home_tags{
    display: flex;
    width: 336px;
    height: 36px;
    margin-top: 459px;
    // margin-left: px;
    position: absolute;
    // top: 100px;
    // align-items: center;
    // border: 1px solid black;
    
    .tag_unit{
        width: 84px;
        height: 36px;
        display: flex;
        border-bottom: 1px solid #ffffff;
        // border: 1px solid rgb(224, 18, 211);

        .tag_icon_site {
            display: flex;
            background-image: url("../../icon/itinerary_white.svg");
        .tag_icon_food {
            background-image: url("../../icon/food_white.svg");
}


        }
    }
    
}


// 填選區1 stay
.home_tags_input1{
    display: flex;
    width: 1084px;
    height: 71px;
    position:absolute;
    justify-content: space-between;
    margin: 0;
    // border: 1px solid black;
    top: 750px;
    // input1
    .tag_input_unit1 {
        width: 183px;
        height: 71px;
        position: relative;
        // border: 1px solid black;

        .home_tag_input_tittle1{
            width: 183px;
            height: 25px;
            color:#ffffff;
            // border: 1px solid black;
        }

        .home_Hoteltag_input {
            width: 183px;
            height: 46px;
            // border: 1px solid black;
        }
    }

    // input2
    .tag_input_unit2 {
        width: 183px;
        height: 71px;
        .home_tag_input_tittle2{
            width: 183px;
            height: 25px;
            color:#ffffff;
            // border: 1px solid black;
        }

        .home_tag_input2 {
            width: 183px;
            height: 46px;
            // border: 1px solid black;
        }
    }

    // input3
    .tag_input_unit3 {
        width: 183px;
        height: 71px;
        .home_tag_input_tittle3{
            width: 183px;
            height: 25px;
            color:#ffffff;
            // border: 1px solid black;
        }

        .home_tag_input3 {
            width: 183px;
            height: 46px;
            // border: 1px solid black;
        }
    }

    // input4
    .tag_input_unit4 {
        width: 120px;
        height: 71px;
        .home_tag_input_tittle4 {
            width: 120px;
            height: 25px;
            color:#ffffff;
            // border: 1px solid black;
        }

        .home_tag_input4 {
            width: 120px;
            height: 46px;
            // border: 1px solid black;
        }


    }

    // input5
    .tag_input_unit5 {
        width: 200px;
        height: 71px;
        .home_tag_input_tittle5 {
            width: 200px;
            height: 25px;
            color:#ffffff;
            // border: 1px solid black;
        }

        .home_tag_input5 {
            width: 200px;
            height: 46px;
            // border: 1px solid black;
        }

    }

    // input6
    .tag_input_unit6 {
        width: 114px;
        height: 71px;
        // border: 1px solid black;
        
        .home_tag_input_tittle6 {
            width: 114px;
            height: 25px;
        }

        .home_tag_input6 {
            width: 114px;
            height: 46px;
            // border: 1px solid black;
        }
    }
}
.home_tags_input1_hidden{
    visibility: hidden;
    display: flex;
    width: 1084px;
    height: 71px;
    position:absolute;
    justify-content: space-between;
    margin: 0;
    // border: 1px solid black;
    top: 750px;
    // input1
    .tag_input_unit1 {
        width: 183px;
        height: 71px;
        position: relative;
        // border: 1px solid black;

        .home_tag_input_tittle1{
            width: 183px;
            height: 25px;
            color:#ffffff;
            // border: 1px solid black;
        }

        .home_Hoteltag_input {
            width: 183px;
            height: 46px;
            // border: 1px solid black;
        }
    }

    // input2
    .tag_input_unit2 {
        width: 183px;
        height: 71px;
        .home_tag_input_tittle2{
            width: 183px;
            height: 25px;
            color:#ffffff;
            // border: 1px solid black;
        }

        .home_tag_input2 {
            width: 183px;
            height: 46px;
            // border: 1px solid black;
        }
    }

    // input3
    .tag_input_unit3 {
        width: 183px;
        height: 71px;
        .home_tag_input_tittle3{
            width: 183px;
            height: 25px;
            color:#ffffff;
            // border: 1px solid black;
        }

        .home_tag_input3 {
            width: 183px;
            height: 46px;
            // border: 1px solid black;
        }
    }

    // input4
    .tag_input_unit4 {
        width: 120px;
        height: 71px;
        .home_tag_input_tittle4 {
            width: 120px;
            height: 25px;
            color:#ffffff;
            // border: 1px solid black;
        }

        .home_tag_input4 {
            width: 120px;
            height: 46px;
            // border: 1px solid black;
        }


    }

    // input5
    .tag_input_unit5 {
        width: 200px;
        height: 71px;
        .home_tag_input_tittle5 {
            width: 200px;
            height: 25px;
            color:#ffffff;
            // border: 1px solid black;
        }

        .home_tag_input5 {
            width: 200px;
            height: 46px;
            // border: 1px solid black;
        }

    }

    // input6
    .tag_input_unit6 {
        width: 114px;
        height: 71px;
        // border: 1px solid black;
        
        .home_tag_input_tittle6 {
            width: 114px;
            height: 25px;
        }

        .home_tag_input6 {
            width: 114px;
            height: 46px;
            // border: 1px solid black;
        }
    }
}

// 填選區2 others
.home_tags_input2{
    display: flex;
    width: 794px;
    height: 46px;
    position:absolute;
    justify-content: space-between;
    margin: 0;
    // border: 3px solid rgb(196, 0, 0);
    top: 750px;
    // input1
    .tag_input_unit1 {
        width: 680px;
        height: 46px;
        position: relative;
        // border: 1px solid black;

        .home_tag_input_tittle1{
            width: 183px;
            height: 25px;
            color:#ffffff;
            // border: 1px solid black;
        }

        .home_tag2_input1 {
            width: 680px;
            height: 46px;
            // border: 1px solid black;
        }
    }

   

    // input6
    .tag_input_unit6 {
        width: 114px;
        height: 71px;
        // border: 1px solid black;
        
        .home_tag_input_tittle6 {
            width: 114px;
            height: 25px;
        }

        .home_tag_input6 {
            width: 114px;
            height: 46px;
            // border: 1px solid black;
        }
    }
}

.home_tags_input2_hidden{
    visibility: hidden;
    display: flex;
    width: 794px;
    height: 46px;
    position:absolute;
    justify-content: space-between;
    margin: 0;
    // border: 3px solid rgb(196, 0, 0);
    top: 750px;
    // input1
    .tag_input_unit1 {
        width: 680px;
        height: 46px;
        position: relative;
        // border: 1px solid black;

        .home_tag_input_tittle1{
            width: 183px;
            height: 25px;
            color:#ffffff;
            // border: 1px solid black;
        }

        .home_tag2_input1 {
            width: 680px;
            height: 46px;
            // border: 1px solid black;
        }
    }

   

    // input6
    .tag_input_unit6 {
        width: 114px;
        height: 71px;
        // border: 1px solid black;
        
        .home_tag_input_tittle6 {
            width: 114px;
            height: 25px;
        }

        .home_tag_input6 {
            width: 114px;
            height: 46px;
            // border: 1px solid black;
        }
    }
}








// 最新優惠
.home-part2{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 33px;
    // border: 1px solid rgb(60, 56, 255);
    margin-top: 80px;
    margin-bottom: 40px;
}
// 熱門商品
.home-part3{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 33px;
    // border: 1px solid rgb(60, 56, 255);
    margin-top: 100px;
    margin-bottom: 30px;
}
// 特色主題圈圈
.home-part4{
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    align-items: center;
    height: 243px;
    // border: 1px solid rgb(60, 56, 255);
    flex-direction: row;
    justify-content: space-between;
    .feature-card {
        width: 202px;
        height: 243px;
        text-align: center;
        // border: 0.5px solid black;
        .feature-circle {
            border-radius: 50%;
            // border: 1px solid black;
            margin-bottom: 14px;
            width: 202px;
            height: 202px;
        }
        .fc-bg1 {
            background-image: url('../../img/stay_home.jpg');
            background-position: center;
            background-size: cover;
            height: 202px;
            width: 202px;
        }
        .fc-bg2 {
            background-image: url('../../img/handmade_home.jpeg');
            background-position: center;
            background-size: cover;
            height: 202px;
            width: 202px;
        }
        .fc-bg3 {
            background-image: url('../../img/family_home.jpg');
            background-position: center;
            background-size: cover;
            height: 202px;
            width: 202px;
        }
        .fc-bg4 {
            background-image: url('../../img/hotpot_home.jpeg');
            background-position: 40% 50%;
            background-size: cover;
            height: 202px;
            width: 202px;
        }
        .fc-bg5 {
            background-image: url('../../img/paradise_home.jpg');
            background-position: center;
            background-size: cover;
            height: 202px;
            width: 202px;
        }
    }
}

// why us
.home-part5{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 400px;
    // border: 1px solid rgb(60, 56, 255);
    
    .home-why-us{
        justify-content: center; 
       
        
        .why-us-tittle {
            text-align: center;
            color: #ffffff;
            margin-bottom: 30px;
            // border: 1px solid red;
        }
        .why-us-p{
            text-align: center;
            color: #ffffff;
            margin-bottom: 20px;
            
            // border: 1px solid red;
        }
        
    
    }
}



.home-why-us-bg{
    background-image: url('../../img/itinerary_home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: -10;
    // border: 2px solid rgb(253, 35, 235);
}

.home-why-us-bg-opacity {
    background-color: #424242;
    height: 400px;
    width: 100%;
    opacity: 40%;
}








