.ant-menu-submenu-open {
  .ant-menu-submenu-title {
    .ant-menu-title-content {
      color: #59d8a1;
    }
  }
}
// .ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, .ant-menu-root.ant-menu-vertical-right, .ant-menu-root.ant-menu-inline{
//   padding-bottom: 20px;
// }

div {
  // outline: 1px solid red;
}
.ant-menu-submenu-selected,
.ant-menu-light.ant-menu-submenu-active,
.ant-menu-submenu:hover > .ant-menu-light,
.ant-menu-submenu-title:hover {
  color: #59d8a1;
}
.ant-menu-inline,
.ant-menu-item::after {
  border-right: #59d8a1 !important;
}
.ant-menu-submenu-arrow::after,
.ant-menu-submenu-arrow::before {
  background-color: #4d4d4d !important;
}
.ant-menu-sub,
.ant-menu-inline {
  background-color: #ffffff !important;
}

.ant-menu-item-selected,
.ant-menu-item-only-child {
  color: #59d8a1 !important;
}
li.ant-menu-item,
.ant-menu-item-selected,
.ant-menu-item-only-child-selected {
  background-color: #ffffff !important;
}
// li:hover{
//     color: #59d8a1 !important;
// }
.ant-menu-item-selected {
  .ant-menu-title-content {
    color: #59d8a1;
    background-color: #ffffff;
  }
}
.ant-menu-item-active {
  color: #59d8a1;
  background-color: #ffffff;
}
.destination,
.allproduct,
.selectScore {
  margin: 20px 0;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1);
  h2 {
    padding: 30px 0 0 25px;
  }
  .selectScore_ul {
    display: grid;
    padding-left: 25px;
    label {
      margin: 10px 0px;
      span {
        input[type='checkbox'] {
          background-color: #59d8a1;
          color: #59d8a1;
        }
      }
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #59d8a1;
      border-color: #59d8a1;
    }
    .ant-checkbox-wrapper-checked span {
      color: #59d8a1;
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner {
      border-color: #59d8a1;
    }
  }
  .ant-menu-submenu-title {
    padding: 0;
    &:hover {
      color: #59d8a1;
    }
  }
  .ant-menu-item-active.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child-selected {
    color: #59d8a1;
  }
}
.Eliot_Du_Boss {
  span {
    color: #4d4d4d;
    &:hover {
      color: #59d8a1;
    }
  }
}
li.ant-menu-item-selected {
  color: #59d8a1;
}

li.ant-menu-submenu,
li.ant-menu-submenu-inline {
  padding: 0;
}
li.ant-menu-item.ant-menu-item-only-child {
  padding-left: 50px !important;
}
.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  padding-left: 50px !important;
}

.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline {
  padding-bottom: 20px;
}
