.swiper{
    width: 100%;
    
}
// .cardMySwiper .mySwiper .swiper-button-prev {
//     top:40%;
//     left:-4px;
//     right:auto;
    
// }
.cardMySwiper{
   .swiper-button-prev {
        top:40% !important;
        left: -4px !important;
        right: auto !important;
    }
    .swiper-button-next{
        top:40% !important;
        right:-4px !important;
    }
}
.swiper{

    position: relative;
    border: none;
    .cardSlide{
        height:500px !important
    }
   
    .Card .card{
        margin:10px;
        padding:0;
        height: auto;
        border: none;
        // box-shadow: 0 0 18px 0 rgba(0,0,0,0.1);
        overflow: hidden;
     }
    //  .swiper-button-next{
    //     position: relative;
    
    //  }
    .Card_Title{
        font-size: 21px;
        color:#4D4D4D;   
    }
    .Heart_Btn{
        width: 40px;
        height: 40px;
        border: none;
        background-color:rgba(255, 255, 255, 0.004);
        position: absolute;
        top: 0;
        right:0;
    }
    .Card_Heart{
        width: 100%;
        height: 100%;
        background-color: none; 
    }
    .Map_icon{
        width: 30px;
        height: 30px;
    }
    .Card_Text{
        margin-top: 10px;
        align-content: flex-end;
        .Card_Score{
            margin-left: 10px;
            padding-top: 20px;
            text-align: center;
            font-size: 14px;
        }
    }
    .Card_Price{
        text-align: end;
        color: #59D8A1;
        margin: 0;
    }
    .foodCardDataOutside{
        width: 100%;
        height: 100%;
        border: 0;
        // box-shadow: 0 0 18px 0 rgba(0,0,0,0.1);
        overflow: hidden;
        .foodCardData1Img{
            object-fit: cover;  
            width: 100%;
            height: 100%;
            background-image: url('http://localhost:3001/uploads/F117-1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            scale: (1.2);
          
        }
        .foodCardData2Img{
            object-fit: cover;  
            width: 100%;
            height: 100%;
            border: none;
            background-image: url('http://localhost:3001/uploads/F125-1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top 25% center;
        }
        .foodCardData3Img{
            object-fit: cover;  
            width: 100%;
            height: 100%;
            background-image: url('http://localhost:3001/uploads/F124-1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .foodCardData4Img{
            object-fit: cover;  
            width: 100%;
            height: 100%;
            background-image: url('http://localhost:3001/uploads/F118-1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        
         
        }
        .foodCardData5Img{
            object-fit: cover;  
            width: 100%;
            height: 100%;
            background-image: url('http://localhost:3001/uploads/F129-1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .foodCardData6Img{
        
            object-fit: cover;  
            width: 100%;
            height: 100%;
            background-image: url('http://localhost:3001/uploads/F128-1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    
    }

}

@media (max-width:992px){
    .swiper{
        width:100%;
        
    }
    .Card .card{
        width: 80%;
    }
    
}

