.FoodListGrooup{
    .card{
        margin-top: 60px;
    }
    .Accordion{
        margin-top: 100px;
    }
    .Food_pagination {
        margin-bottom: 30px;
        justify-content:center;
        align-content: center;
    
    }
   
}
