.space{
    padding:60px
}
.FoodListGrooup{
    .card{
        margin-top: 80px;
    }
    .cardList{
        padding:0 30px
    }
    .Accordion{
        padding-top: 200px;
        margin:0;
    }
    .row{
        margin: 0 20px ;
    }
    .Food_pagination {
        .pagination{
            justify-content:center;
            align-content: center;
        }
        margin-bottom: 30px;
        justify-content:center;
        align-content: center;
    
    }
   
}
