/* Button */
.home_tag_btn {
	display: flex;
	border: #e68d8d00 0px solid;
	border-bottom: 1px solid #ffffff;
	background-color: transparent;
	color: #ffffff;
	width: 84px;
    height: 36px;
	// border: 1px solid black;
	
	.home_tag_btn_icon {
		
	}
}


.home_tag_btn>p{
	color:#ffffff;
}
