.cart-total-wrap {
  .cart-d-wrap {
    input {
      margin-top: 10px;
    }
    h2 {
      font-weight: 500 !important;
    }
  }
  .canClick {
    cursor: pointer;
    .Counts_SVG {
      path {
        fill: #59d8a1;
      }
    }
  }
  .not_canClick {
    .Counts_SVG {
      path {
        fill: #aeaeae;
      }
    }
  }
  .space {
    margin-top: 0px;
  }
  .text-header {
    padding-bottom: 40px;
  }
  .card-wrap {
    border-top: 1px solid #d9d9d9;
  }
  .card-body {
    padding-left: 30px;
    padding-top: 30px;
  }
  .pic-wrap {
    width: 80px;
    height: 80px;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
  .card-body-top-text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 30px;
    p {
      margin: 0;
    }
  }
  .score-wrap {
    ul {
      padding: 0;
      display: flex;
      list-style: none;
    }
  }
  .state-button-wrap {
    background-color: #59d8a1;
    width: fit-content;
    text-align: center;
    margin: 30px 0px;
    p {
      padding: 5px 20px;
      color: white;
    }
  }
  .state-button-wrap-none {
    background-color: none;
    width: fit-content;
    text-align: center;
    margin: 30px 0px;
  }
  p {
    margin: 0;
  }
  .credit-input-wrap {
    .credit-input {
      padding: 5px 20px;
      border: 1px solid #4d4d4d;
    }
    p {
      margin: 0px 10px;
    }
  }
  input::-webkit-input-placeholder {
    color: #d9d9d9;
  }
  .day-count {
    display: flex;
    align-items: flex-end;
    p {
      bottom: 0;
      border: 1px solid #d9d9d9;
      border-radius: 5rem;
      padding: 5px 30px;
    }
  }
  .price-detail-wrap {
    border: 1px solid #d9d9d9;
    box-shadow: 1px 1px 5px #d9d9d9;
    .card-wrap {
      border: none;
      .card-body {
        padding: 0px;
        border-top: 1px solid #d9d9d9;
        margin: 0px 50px;
      }
    }
  }

  .btn-wrap {
    display: flex;
    justify-content: space-evenly;
  }
  .total {
    color: #59d8a1;
  }
  #PaymentForm {
    .card-input-wrap {
      margin-bottom: 50px;
    }
  }
  .empty-cart {
    text-align: center;
    // line-height: 100vh;
  }
}
.success-fail {
  .img-wrap {
    display: flex;
    justify-content: center;
    .success-fail-icon {
      width: 40%;
      height: 40%;
    }
  }
  h2 {
    text-align: center;
  }
  .success {
    color: #59d8a1;
  }
  .fail {
    color: #ea8a8a;
  }
  p {
    text-align: center;
  }
  a {
    color: #59d8a1;
  }
}
