.orders-total-wrap {
  .orders-links-ul {
    list-style: none;
    display: flex;
    li {
      padding: 10px 60px;
    }
    .active {
      border-bottom: 5px solid #59d8a1;
      a {
        color: #59d8a1;
      }
    }
  }
  .orders-links:hover {
    color: #59d8a1;
  }
  .orders-accordion-ul {
    list-style: none;
    display: flex;
    p {
      margin: 0px;
    }
  }
  .orders-details-ul {
    list-style: none;
    display: flex;
    li {
      padding: 0px 15px;
    }
  }
  .accordion-button::after {
    content: none;
  }
  .sort-img {
    width: 30px;
    height: 30px;
    position: absolute;
  }

  span {
    padding: 5px 0px;
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    line-height: 1.8rem !important;
    color: #4d4d4d;
  }
  .accordion-button {
    padding: 14px 0px;
  }
}
