//更改變數
//color
$primary: #59d8a1 !important;
$secondary: #63d2ff !important;
$success: #59d8a1 !important;
$danger: #ea8a8a !important;
$black: #4d4d4d !important;
//border
$border-color: #d9d9d9 !important;
$border-radius: 0 !important;
//container
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
) !important;
// 導入bootstrap所有的樣式與預設變數
@import '~bootstrap/scss/bootstrap';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
// 全站都會使用的共同樣式
html {
  font-size: 14px !important;
}
body {
  color: #4d4d4d !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Noto Sans TC', sans-serif !important;
  letter-spacing: 1px !important;
  //文字設定
  h1 {
    font-weight: 500 !important;
    font-size: 2rem !important;
    line-height: 3rem !important;
  }
  h2 {
    font-weight: 400 !important;
    font-size: 1.5rem !important;
    line-height: 2.5rem !important;
  }
  p {
    font-weight: 300 !important;
    font-size: 1.1rem !important;
    line-height: 1.8rem !important;
  }
}
//btn
.btn {
  padding: 0.7rem 1.8rem !important;
  font-weight: 500 !important;
  letter-spacing: 1px !important;
  color: #4d4d4d !important;
}
.btn-primary {
  color: #fff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active:hover {
  color: #59d8a1 !important;
  background-color: #fff !important;
  border-color: #59d8a1 !important;
}
//icon外框 40x40
.icon {
  height: 40px !important;
  width: 40px !important;
  img {
    display: block !important;
    margin: 5px auto !important;
  }
}

//區域給padding
.givePadding {
  padding: 100px 0 !important;
}
