// .ant-menu > .ant-menu-item:hover,
// .ant-menu > .ant-menu-submenu:hover,
// .ant-menu > .ant-menu-item-active,
// .ant-menu> .ant-menu-submenu-active,
// .ant-menu > .ant-menu-item-open,
// .ant-menu> .ant-menu-submenu-open,
// .ant-menu > .ant-menu-item-selected,
// .ant-menu > .ant-menu-submenu-selected, 
// .ant-menu:hover{
    
//   color: #59d8a1;
// }


li.ant-menu-item.ant-menu-item-selected.ant-menu-item-only-child{
    color:#59d8a1;
}



// .ant-menu-submenu-title{
//     color: #59d8a1 !important;
//   }
  
// .ant-menu > .ant-menu-item-active {
//     color: #59d8a1 !important;
//   }

