#breadcrumb{
    width: 100%;
    padding-top: 0;
}
#bcindex{
    color: #59D8A1;
}
#bctype{
    color: #59D8A1;
}
#bccatename{
    color: #59D8A1;
}
#bcitem{
    color: #4D4D4D;
    p{
        word-wrap: none;
        width: 150px;
    }
}