.RankChoose {
  .Rank_button {
    margin: 20px 0px;
     input.check{
      border: 1px solid #4d4d4d;
      color: #4d4d4d;
      background-color: transparent;
      outline: none;
      padding: 6px 24px;    
    }
    .rankChooseActive {
      border: none;
      background-color: #59d8a1;
      color: white;
    }
  }
}