.checkbox {
  display: inline-block; // set to `inline-block` as `inline elements ignore `height` and `width`
  height: 20px;
  width: 20px;
  background: #ffffff;
  border: 1px #4D4D4D solid;
  margin-right: 4px;

  -webkit-appearance: none; /*取消預設外觀*/
}


// 蓋住?預設框
input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox--active {
  // border-color: rgb(255, 255, 255);
  background: #59d8a1;
}

.checkbox--active::after{
  content:"\00A0✓";
  font-size: 16px;
  font-weight: 700;
  color:#ffffff;
  line-height: 20px;
  position: absolute;
}




