//更改變數
//color
$primary: #59D8A1;
$secondary: #63D2FF;
$success:#59D8A1;
$danger:#EA8A8A;
$black:#4D4D4D;

//border
$border-color:#D9D9D9;
$border-radius: 0;
//input
$input-color:#4D4D4D;
$input-padding-y:0.8rem;
$input-padding-x:0.8rem;
$input-border-color:#D9D9D9;
//container
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
// 導入bootstrap所有的樣式與預設變數
@import '~bootstrap/scss/bootstrap';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
// 全站都會使用的共同樣式
html {
  font-size: 14px;
}
body {
  color: #4D4D4D;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing:1px;
  //文字設定
  h1{
    font-weight: 500;
    font-size: 2rem;
    line-height: 3rem;
  }
  h2{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  p{
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
}
//btn
.btn{
  padding: 0.7rem 1.8rem;
  font-weight: 500;
  letter-spacing:1px;
  color: #4D4D4D;
}
.btn-primary {
  color: #fff;
}
.btn-primary:hover, 
.btn-primary:focus, 
.btn-primary:active:hover{
  color: #59D8A1;
  background-color: #fff;
  border-color: #59D8A1;
}
//icon外框 40x40
.icon{
  height: 40px;
  width: 40px;
  img{
    display: block;
    margin: 5px auto;
  }
}
//input樣式設定

//區域給padding
.givePadding{
  padding: 100px 0;
}