.g-4{
    margin:80px 0;
}
.card-title{
    color:#4D4D4D;   
}

.Heart_Btn{
    width: 40px;
    height: 40px;
    border: none;
    background-color:rgba(255, 255, 255, 0.004);
    position: absolute;
    top: 0;
    right:0;
}
.Card_Heart{
    width: 100%;
    height: 100%;
    background-color: none; 
}
.Star_icon{
    width: 30px;
    height: 30px;
}
.Card_Score{
    margin-left: 10px;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
}
.Card_Price{
    text-align: end;
    color: #59D8A1;
}