.MyCard {
  width: 320px;
  margin: 20px;
  padding: 0;
  height: 420px;
  border: none;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.Card_Title {
  padding-top: 10px;
  padding-left: 5px;
  margin-bottom: 20px;
  font-size: 21px;
  color: #4d4d4d;
}
.Card_Title:hover{
  text-decoration: none;
}
.Heart_Btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(255, 255, 255, 0.004);
  position: absolute;
  top: 0;
  right: 0;
}
.Card_Heart {
  width: 100%;
  height: 100%;
  background-color: none;
  &:hover {
    color: #ea8a8a;
  }
}
.card-img-top {
  width: 100%;
  height: 225px !important;
  overflow: hidden;
  &:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
}
.Map_icon {
  width: 30px !important;
  height: 30px !important;
}
.Card_Text {
  margin-top: 10px;

  .Card_Score {
    margin-left: 10px;
    padding-top: 20px;
    text-align: center;
    font-size: 15px;
  }
}
.PriceAndCollect {
  align-items: center;
  padding-top: 40px;
  justify-content: space-between;
  color: #59d8a1;
  margin: 0;
  .Card_Price{
    text-align: end;
    color: #59D8A1 !important;
    margin: 0;
}
  .Heart_btn {
    background-color: rgba(255, 255, 255, 0.004);
    border: none;
    padding-left: 3px;
    span {
      margin-top: 20px;
      font-size: 14px;
      margin-left: 10px;
      color: #aeaeae;
      letter-spacing: 1px;
    }
  }
}
// @media (max-width: 768px) {
//   .MyCard {
//     // width:40rem;
//   }
// }
