.navbar {
  z-index: 999;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  border-bottom: #d9d9d9 1px solid;
  li {
    padding: 0 2rem;
  }
  a {
    color: #4d4d4d;
    font-weight: 500;
  }
  .login-btn-text {
    color: #59d8a1;
  }
  .signin-m {
    margin: 0 20px;
  }
  .signin-btn:hover {
    color: #59d8a1;
  }
  p {
    color: #fff;
  }
  .login-user-text {
    color: #59d8a1;
    background: none;
    border: none;
    margin: auto 0px;
  }
  .login-user-text:active {
    color: #59d8a1;
    background: none;
    border: none;
  }
  .dropdown-user-item {
    padding: 10px 20px;
  }
  .dropdown-user-item:hover {
    color: #59d8a1;
  }
  .dropdown-user-item:active {
    color: #59d8a1;
  }
}
.nav-link {
  padding: 0;
  float:left;
}
.nav-link:hover {
  color: #59d8a1;
}
.cart {
  margin: 0 10px;
  img {
    width: 30px;
    height: 30px;
  }
}

.navbarUserPic {
  display: flex;
  align-items: center;
  .userIcon {
    width: 50px;
    height: 50px;
    margin: 0px 20px;
    border-radius: 50%;
    // background: url('../../public/img/user.png') no-repeat center center;
    background-size: cover;
  }
  .dropdown {
    display: flex;
    align-items: center;
  }
}

.input-group {
  span {
    border-right: 0;
    border-top: 1px solid #4d4d4d;
    border-left: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
    border-radius: 20px;
  }
  .search-border {
    border-left: 0;
    border-top: 1px solid #4d4d4d;
    border-right: 1px solid #4d4d4d;
    border-bottom: 1px solid #4d4d4d;
    border-radius: 20px;
    padding: 0;
  }
  .search-border:focus {
    box-shadow: none;
  }
  img {
    width: 26px;
    height: 26px;
    margin: 6px auto;
  }
}
.cart {
  position: relative;
  .cart-count {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -3px;
    right: -3px;
    background-color: #59d8a1;
    border: 1px solid #59d8a1;
    color: #fff;
    border-radius: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }
}
