.nav-normal {
    visibility: visible;
    transition: all 200ms ease-in;
    transform: none;
    border: 1px solid rgb(0, 0, 0);
  }
  
  .nav-hide {
    visibility: hidden;
    transition: all 200ms ease-out;
    transform: translate(0, -100%);
  }
  
  .nav-shink-normal {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  }
  
  .nav-shink-hide {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  }